alembic==1.6.5
appdirs==1.4.4
asgiref==3.4.1
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
black==19.3b0
blinker==1.4
bokeh==2.3.0
boto3==1.12.39
botocore==1.15.49
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
cryptography==3.4.7
Deprecated==1.2.12
Django==3.2.7
django-cors-headers==3.9.0
djangorestframework==3.12.4
docutils==0.15.2
ed25519==1.5
entrypoints==0.3
flake8==3.7.8
fuzzywuzzy==0.18.0
gunicorn==20.1.0
idna==3.2
importlib-metadata==3.3.0
inflection==0.3.1
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
jsonpickle==2.0.0
jwt==1.2.0
Mako==1.1.4
MarkupSafe==2.0.1
mccabe==0.6.1
more-itertools==8.6.0
Naked==0.1.31
numpy==1.20.1
packaging==20.8
pandas==1.2.4
passlib==1.7.4
pendulum==2.1.2
Pillow==8.1.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
py-buzz==1.0.3
pycodestyle==2.5.0
pycparser==2.20
pyfiglet==0.8.post1
pyflakes==2.1.1
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==5.0.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
pytzdata==2020.1
PyYAML==5.4.1
redis==3.5.3
requests==2.26.0
s3transfer==0.3.3
selenium==3.141.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.3.22
sqlparse==0.4.2
tabulate==0.8.9
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.0
